<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2889277787752693"
crossorigin="anonymous"></script>

<script async custom-element="amp-auto-ads"
src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F9EC1KWJNY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-F9EC1KWJNY');
  document.addEventListener('DOMContentLoaded', () => {
      const body = document.body;
      const observer = new MutationObserver(() => {
          body.style.padding = '';
      });
      observer.observe(body, {
          attributes: true,
          attributeFilter: ['style']
      });
  });
</script>
<amp-auto-ads type="adsense"
                  data-ad-client="ca-pub-2889277787752693">
